.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 2rem;
}

.cart_product {
  display: flex;
  align-items: center;
}

.image {
  height: 5rem;
  margin: 0.5rem 0;
}

.quantity {
  margin-right: 1rem;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background);
  font-size: 1.2rem;
}

.total_container {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 1.3rem;
}
