.container {
  background: rgb(167, 24, 186);
  background: linear-gradient(
    155deg,
    rgba(167, 24, 186, 1) 22%,
    rgba(120, 7, 135, 1) 83%
  );
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  cursor: pointer;
}

.container:active {
  transform: scale(0.95);
}
