@import ('../globals.css');

.container {
  padding: 1rem;
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo_container {
  display: flex;
  flex-direction: column;
}

.cart_btn_container {
  display: flex;
}

.cart_alt_btn {
  border: 1px solid var(--primary);
  background-color: var(--primary-alpha);
  color: var(--primary);

  padding: 0.3rem 0.4rem;
  display: flex;
  align-items: center;
}
