@import ('../../globals.css');

.container {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
  transition: border 0.1s, box-shadow 0.1s;
}

.image {
  width: 100%;
}

.selected {
  border: 1px solid var(--primary);
  box-shadow: var(--primary-alpha) 0px 7px 29px 0px;
}

.quantity {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.2rem;
  border-radius: 50%;
  background-color: var(--primary);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background);
  font-size: 0.8rem;
}
