:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary: #a718ba;
  --primary-alpha: #a718ba50;
  --background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
}
