:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  --primary: #a718ba;
  --background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: red;
}
